@import "src/utils/var";

.burgerMenuWrapper {
    .bm-burger-button {
        position: fixed;
        width: 50px;
        height: 32px;
        left: 36px;
        top: 36px;
        display: none;

        @include small-screen {
            display: block;
        }
    }

    .bm-burger-bars {
        background: $secondary-color;
    }

    .bm-burger-bars-hover {
        background: $secondary-color;
    }

    .bm-cross-button {
        height: 36px !important;
        width: 36px !important;
        top: 16px !important;
        right: 16px !important;

        #react-burger-cross-btn + span {
            top: 4px !important;
            right: 20px !important;
        }

        .bm-cross {
            width: 3px;
            height: 30px;
            background-color: $secondary-color;

            &:last-child {
                background-color: $secondary-color;

                width: 3px !important;
                height: 30px !important;
            }
        }
    }

    .bm-cross {
        background: #bdc3c7;
    }

    .bm-menu-wrap {
        position: fixed;
        height: 100%;
        top: 0;
    }

    .bm-menu {
        padding: 3.5em 0 0;
        font-size: 1.15em;
        background-color: $primary-color;
        nav a {
            padding: 16px 60px;
            color: #818181;

            &.active {
                color: $secondary-color;
            }
        }
    }

    .bm-morph-shape {
        fill: #373a47;
    }

    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em 0;
    }

    .bm-item {
        display: inline-block;
    }

    .bm-overlay {
        top: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}
