@import "src/utils/var";

.education.sectionItem .sectionItemHeader {
    margin-bottom: 64px;
}

.education {
    p {
        margin-bottom: 30px;
        text-align: left;
        line-height: 1.4em;
    }

    &__list {
        width: 100%;
    }

    &__listItem {
        display: flex;
        padding: 32px 0;
        border-top: 1px solid #333;

        @include medium-screen {
            flex-direction: column;
        }

        & > div {
            display: flex;
            align-items: center;
            margin-right: 32px;

            &:first-child {
                min-width: 50%;

                @include medium-screen {
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                flex-grow: 1;
            }
        }
    }

    &__itemIcon {
        margin-right: 32px;
        color: $secondary-color;

        @include large-screen {
            margin-right: 25px;
        }
    }

    &__listItemInfo {
        text-align: left;

        div {
            line-height: 1.7em;
            text-transform: uppercase;
        }

        a {
            transition: 0.3s;
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }

        .position {
            font-size: 20px;
        }

        .period {
            font-size: 16px;
        }
    }

    &__description {
        text-align: left;
        font-size: 18px;
        line-height: 1.7em;

        @include large-screen {
            font-size: 16px;
            line-height: 1.4em;
        }
    }
}
