@import "src/utils/var";

.sectionItem.portfolio {
    .sectionItemHeader {
        margin-bottom: 0;
    }

    @include small-screen {
        min-height: auto;
        padding: 32px 16px;
    }

    @include extra-small-screen {
        .sectionItemHeader {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

.portfolio {
    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: auto;
        padding-top: 32px;

        @include large-screen {
            justify-content: flex-start;
        }

        @include small-screen {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            display: none;
        }

        .portfolioItem {
            width: 25%;
            padding: 15px;
            text-align: left;
            display: flex;
            flex-direction: column;

            @include extra-large-screen {
                width: 33%;
            }

            @include large-screen {
                width: 50%;
            }

            @include medium-screen {
                width: 100%;
                display: flex;
                flex-direction: column;
                & + .portfolioItem {
                    margin-top: 20px;
                }
            }

            @include small-screen {
                width: 100%;
                & + .portfolioItem {
                    margin-top: 32px;
                }
            }

            &__previewCard {
                transition: box-shadow 0.5s;
                margin-bottom: 16px;

                &:hover {
                    box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.5);
                }
            }

            img,
            span {
                display: inline-block;
            }

            .links {
                display: flex;
                align-items: center;

                @include medium-screen {
                    align-items: flex-start;
                }

                @include small-screen {
                    flex-direction: row;
                }
            }

            span {
                font-size: 22px;
                margin-bottom: 16px;

                @include extra-large-screen {
                    font-size: 20px;
                }

                @include medium-screen {
                    font-size: 23px;
                }

                @include small-screen {
                    font-size: 19px;
                    margin-top: 18px;
                }
            }

            a {
                display: flex;
                align-items: center;
                transition: 0.3s;
                cursor: pointer;
                font-size: 18px;

                @include extra-large-screen {
                    font-size: 16px;
                }

                @include medium-screen {
                    font-size: 19px;
                }

                @include small-screen {
                    font-size: 16px;
                }

                &:hover {
                    color: $secondary-color;
                    text-decoration: underline;
                }

                & + a {
                    margin-left: 15px;

                    @include small-screen {
                        margin-left: 16px;
                        margin-top: 0;
                    }
                }

                svg {
                    width: 16px;
                    height: 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
