@import "src/utils/var";

.portfolio {
    .sectionItemHeader.portfolio {
        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li.portfolioItem {
            min-width: 300px;
            width: 25%;
            padding: 15px;
            text-align: left;

            img,
            span {
                margin-bottom: 16px;
                display: inline-block;
            }

            .links {
                display: flex;
                align-items: center;
            }

            span {
                font-size: 18px;
            }

            a {
                display: flex;
                align-items: center;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    color: $secondary-color;
                    text-decoration: underline;
                }

                & + a {
                    margin-left: 15px;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
