@import "src/utils/var";

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    background-image: url($svgData);

    &__scrollContainer {
        display: flex;
        height: 100vh;
        scroll-behavior: smooth;
        text-align: center;
        width: calc(100vw - 194px);
        overflow: hidden;

        @include small-screen {
            width: 100vw;
            flex-direction: column;
            overflow: auto;
        }

        .sectionItem {
            min-height: 100vh;
            min-width: calc(100vw - 234px);
            transition: 1s;
            padding: 32px 16px;
            color: $text-color;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include medium-screen {
                min-width: calc(100vw - 194px);
            }

            @include small-screen {
                padding: 32px;
            }

            &:target {
                .sectionItemHeader::before {
                    width: 100%;
                }
            }

            .sectionItemHeader {
                text-align: left;
                font-size: 45px;
                padding-bottom: 20px;
                position: relative;
                margin-bottom: 30px;
                text-transform: uppercase;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: block;
                    width: 0;
                    height: 4px;
                    transition: 1s;
                    transition-delay: 0.5s;
                    background-color: $secondary-color;

                    @include small-screen {
                        width: 100%;
                        transition-delay: 0s;
                        transition: 0.7s;
                    }
                }
            }
        }
    }
}
