.skills {
    align-items: center;

    .sectionItemHeader {
        align-self: flex-start;
    }

    &__wrapper {
        width: 100%;
        &:last-child {
            margin-top: 64px;
            text-align: left;
        }

        h2 {
            text-align: center;
            margin-bottom: 64px;
            font-size: 27px;
        }
    }

    &__technicalList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: 15%;
            min-width: 150px;
            padding: 12px;
            font-size: 18px;
        }
    }

    &__languageList {
        text-align: left;
        li {
            display: inline-block;
            padding: 12px;
            font-size: 18px;
        }
    }
}
