@import "src/utils/var";

.about {
    &__list {
        margin-bottom: 50px;
    }

    &__infoItem {
        padding: 15px 5px;
        border-bottom: 1px solid $text-color;
        text-align: left;
        font-size: 18px;
    }

    &__profile {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 16px;
    }

    &__profileContent {
        width: 50%;
        font-size: 18px;
        text-align: left;
        line-height: 1.7em;
    }
}
