@import "src/utils/var";

.home.sectionItem {
    justify-content: flex-start;

    @include medium-screen {
        span {
            display: block;
            margin-top: 12px;
        }

        .sectionItemHeader {
            margin-bottom: 16px;
        }
    }

    .position {
        font-size: 32px;
    }
    &.sectionItem .sectionItemHeader::before {
        display: none;
    }

    svg {
        margin-top: 200px;
        width: 700px;
        height: 300px;
        //background-color: #fff;

        @include medium-screen {
            width: 500px;
        }
    }

    #textClip text {
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 55px;
        line-height: 0.9em;
        fill: $secondary-color;

        @include large-screen {
            font-size: 44px;
        }
    }

    #background use {
        animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955);
        transform-origin: 50% 50%;
        transform-box: fill-box;

        transform-origin: left center;
    }

    @keyframes pulse {
        0%,
        100% {
            transform: translateX(-100%);
        }
        35%,
        65% {
            transform: translateX(0%);
        }
    }
}
