@import "src/utils/var";

.home.sectionItem {
    min-height: 100vh;
    justify-content: center;

    svg {
        width: 500px;
    }

    h1 {
        line-height: 1.5em;
        text-align: left;
        font-size: 54px;
        margin: 0 0 100px 30px;
    }

    &.sectionItem .sectionItemHeader::before {
        display: none;
    }
}
