@import "src/utils/var";

.contact {
    &.sectionItem {
        padding-right: 64px;

        .sectionItemHeader {
            @include medium-screen {
                margin-bottom: 20px;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include medium-screen {
            flex-direction: column;
        }
    }

    &__list {
        width: 48%;

        @include medium-screen {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__infoItem {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        border-bottom: 1px solid $text-color;
        text-align: left;
        font-size: 18px;

        @include medium-screen {
            padding: 15px 10px;
        }

        svg {
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 16px;
            color: $secondary-color;
        }

        a {
            transition: 0.3s;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
