$primary-color: #000;
$secondary-color: #6d9258;
$title-font: "Oswald", sans-serif;
$text-font: "Roboto", sans-serif;
$text-color: #818181;

@mixin extra-large-screen() {
  @media screen and (max-width: 1399px) {
    @content;
  }
}

@mixin large-screen() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}
@mixin medium-screen() {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin small-screen() {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin extra-small-screen() {
  @media screen and (max-width: 576px) {
    @content;
  }
}
