@import "src/utils/var";

.experience.sectionItem .sectionItemHeader {
    margin-bottom: 64px;
}

.experience {
    &__listItem {
        display: flex;
        align-items: center;
        padding: 32px 0;
        border-top: 1px solid #333;

        @include medium-screen {
            padding: 20px 0;
            align-items: flex-start;
            flex-direction: column;
        }

        & > div:first-child {
            display: flex;
            align-items: center;

            &:first-child {
                min-width: 40%;

                @include large-screen {
                    min-width: 50%;
                }
            }

            &:last-child {
                flex-grow: 1;
            }
        }
    }

    &__itemIcon {
        margin-right: 32px;
        flex-shrink: 0;
        color: $secondary-color;

        @include large-screen {
            width: 70px;
            height: 70px;
        }
    }

    &__listItemInfo {
        text-align: left;

        div {
            line-height: 1.7em;
            text-transform: uppercase;
        }

        .orgName a {
            font-style: italic;
            transition: 0.3s;
            font-size: 18px;

            @include large-screen {
                font-size: 17px;
            }

            @include small-screen {
                font-size: 15px;
            }
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }

            svg {
                display: inline;
                margin-right: 7px;
            }
        }

        .position {
            font-size: 23px;

            @include small-screen {
                font-size: 20px;
            }
        }

        .period {
            font-size: 18px;

            @include large-screen {
                font-size: 17px;
            }

            @include small-screen {
                font-size: 16px;
            }
        }
    }

    &__description {
        font-size: 20px;
        text-align: left;
        line-height: 1.6em;

        @include extra-large-screen {
            line-height: 1.4em;
        }

        @include large-screen {
            font-size: 17px;
            line-height: 1.4em;
        }

        @include medium-screen {
            margin-top: 16px;
        }

        @include small-screen {
            font-size: 16px;
        }
    }
}
