@import "src/utils/var";

.experience {
    .sectionItemHeader {
        margin-bottom: 64px !important;
    }
    &__listItem {
        display: flex;
        align-items: center;
        padding: 32px 0;
        border-top: 1px solid #333;

        & > div {
            display: flex;
            align-items: center;
            margin-right: 32px;

            &:first-child {
                min-width: 40%;

                @include large-screen {
                    min-width: 50%;
                }
            }

            &:last-child {
                flex-grow: 1;
            }
        }
    }

    &__itemIcon {
        margin-right: 32px;
        color: $secondary-color;
    }

    &__listItemInfo {
        text-align: left;

        div {
            line-height: 1.7em;
            text-transform: uppercase;
        }

        .orgName a {
            font-style: italic;
            transition: 0.3s;
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }

            svg {
                display: inline;
                margin-right: 7px;
            }
        }

        .position {
            font-size: 20px;
        }

        .period {
            font-size: 16px;
        }
    }

    &__description {
        font-size: 18px;
        text-align: left;
        line-height: 1.6em;

        @include large-screen {
            font-size: 16px;
            line-height: 1.4em;
        }
    }
}
