@import "src/utils/var";

.contactForm {
    width: 45%;
    text-align: right;
    max-width: 800px;

    @include medium-screen {
        width: 100%;
        margin-top: 32px;
    }

    @include small-screen {
        margin-top: 16px;
    }

    .textInput {
        width: 100%;
        position: relative;

        & + .textInput {
            margin-top: 35px;

            @include small-screen {
                margin-top: 35px;
            }

            @include small-screen {
                margin-top: 30px;
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            border-radius: 20px;
            box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.1);
            transition: all 0.4s;
        }

        &.focused::before {
            box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.5);
        }

        &__input {
            background-color: #fff;
            border-radius: 20px;
            font-family: Roboto, sans-serif;
            font-size: 20px;
            color: #4b2354;
            line-height: 1.2;
            display: block;
            width: 100%;
            padding: 25px;
            border: none;
            opacity: 0.55;

            @include medium-screen {
                padding: 18px;
                font-size: 18px;
            }

            &::placeholder {
                opacity: 0.6;
                transition: 0.6s;
                color: var(--main-color);
            }

            &:focus::placeholder {
                opacity: 0;
            }

            & + .textInput__input {
                margin-top: 23px;
            }
        }

        &__error {
            position: absolute;
            top: calc(100% + 4px);
            left: 20px;
            font-size: 20px;
            color: $secondary-color;
            transition: 1s;
            @include medium-screen {
                font-size: 16px;
            }

            @include small-screen {
                font-size: 14px;
            }
        }
    }

    textarea {
        min-height: 150px;
        resize: none;
    }

    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        outline: none;
        font-size: 20px;
        cursor: pointer;
        padding: 20px 60px;
        border-radius: 15px;
        color: $secondary-color;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
        transition: 0.3s;
        position: relative;

        @include medium-screen {
            margin-top: 25px;
        }

        @include extra-small-screen {
            margin-top: 64px;
            width: 100%;
            font-size: 20px;
        }

        &:hover {
            opacity: 0.7;
        }

        &:disabled {
            opacity: 0.5;
        }

        .spinner {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
        }

        svg {
            display: block;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 16px;
        }
    }
}
