@import "src/utils/var";

.navPanel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;

    @include small-screen {
        display: none;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 170px;
        background-color: $secondary-color;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 20px;
        font-weight: 500;
        padding: 10px;
        line-height: 1.4em;
        margin-bottom: 30px;

        @include medium-screen {
            width: 130px;
            height: 130px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        a {
            display: block;
            font-size: 20px;
            position: relative;
            padding: 15px 0;
            color: #818181;
            border-bottom: 1px solid #ebebeb33;

            @include medium-screen {
                font-size: 16px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $secondary-color;
                transition: 1s;
                transition-delay: 0.5s;

                @include medium-screen {
                    height: 1px;
                }
            }
        }

        a.active {
            color: $secondary-color;

            &::before {
                width: 100%;
            }
        }
    }
}
